*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

header{
    background-color: #141414;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
    z-index: 100;
    border: 5px solid #000000;
    border-top: #141414;
    border-left: #141414;
    border-right: #141414;
}
.logo{
    text-decoration: none;
    color: #f1f43a;
    text-transform: uppercase;
    font-weight: 1000;
    font-size: 30px;
}
.logo:hover{
    color: #bcc209;
}
.navigation a{
    color: #f1f43a;
    text-decoration: none;
    font-size: 20px;
    font-weight: 550;
    padding-left: 30px;
}
.navigation a:hover{
    color: #bcc209;
}

section{
    padding: 100px 100px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url("images/homepage/thumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}
.welcomecard {
    padding: 20px;
    border-radius: 10px;
    background-color: #141414af;
}
.welcomecard h2{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;
}
.welcomecard h2 span{
    display: inline-block;
    margin-top: 10px;
    color:#f1f43a;
    font-size: 3em;
    font-weight: 600;
}
.welcomecard h3{
    color: #ffffff;
    font-size: 2em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 30px;
}
.footer{
    border: 5px solid #000000;
    border-bottom: #141414;
    border-left: #141414;
    border-right: #141414;
    background-color: #141414;
    color: #ffffff;
    padding: 1.5em;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.footer a{
    display: inline-block;
    color: #f1f43a;
    text-decoration: none;
}

.container {
    padding-top: 10%;
    padding-left: 100px;
    width: 100%;
    min-height: 100vh;
    background: url("images/homepage/thumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
}
.form {
    background-color: #141414af;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-self: center;
}
.form h1 {
    text-align: center;
    font-weight: 800;
    padding-bottom: 20px;
    color: #f1f43a;
}
.form p {
    float: left;
    padding: 5px;
    color: #ffffff;
}
.textinput {
    padding: 5px;
}
.lefttextinput {
    padding: 5px;
    float: left;
    width: 50%;
}
.righttextinput {
    padding: 5px;
    float: right;
    width: 50%;
}
.form input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: right;
}
.form input[type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: right;
}
.form input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    float: right;
}
.btn{
    background-color: #f1f43a;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    text-decoration: none;
}
.btn:hover {
    background-color: #bcc209;
}
.forgot a{
    padding: 5px;
    text-decoration: none;
    color: #f1f43a;
}
.forgot a:hover{
    color: #bcc209;
}
.rememberme {
    float: left;
    position: relative;
    bottom: 0;
    padding: 5px;
    color: #ffffff;
}
.fieldcheck {
    padding-top: 10px;
}
.prompt {
    padding-top: 10px;
    padding-left: 5px;
    color: #ffffff;
}
.prompt a{
    text-decoration: none;
    color: #f1f43a;
}
.prompt a:hover{
    color: #bcc209;
}

.team{
    background-color: #141414;
    border-radius: 10px;
    padding: 20px;
    width: fit-content;
}
.team h1{
    color: #f1f43a;
}
.teamname {
    color: #ffffff;
    font-size: 20px;
    margin-left: 20px;
    float: left;
}
.teamid {
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    padding: 5px;
    float: right;
}
.teamid:hover{
    background-color: #d3d3d3;
}

.about{
    color:#ffffff ;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    background-color: #141414;
}
.choice{
    display: flex;
    flex-wrap: wrap;;
    background-color:#121600 ;
    justify-content: center;
    flex-direction: row;
}
.choice img{
    border-radius: 20%;
    width: 170px;
    height: 210px;
    margin: 20px;
    overflow: hidden;
    transition: 0.8s ease;
}
.choice img:hover{
    transform: scale(1.1);
}
.choice p{
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}
.choice a{
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.abouthim{
    display: flex;
    flex-direction: column;
    background-color: #141414;
}
.abouthim h2{
    color:#ffffff ;
    font-size: 2em;
    font-weight: 600;
}
.abouthim p{
    color:#ffffff ;
}
.hiswork{
    background-color: #141414;
}
.hiswork h2{
    text-align: center;
    align-items: center;
    color: #141414;
}
.actor-work {
    background-color: #000000;
    height: 30em;
    overflow: visible;
    border-radius: 10px;
    margin: 20px;
}
.info {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
}
.info img{
    width:50%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    float: left;
}
.info h1{
    color: #f1f43a;
    display: inline-block;
    font-size: 2em;
    font-weight: 800;
    padding-left: 100px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.info span{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.5em;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    font-weight: 800;
}
.info p{
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 1.5em;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.info a{
    background-color: #f1f43a;
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 650;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 150px;
    transition: 0.8s ease;
    position: absolute;
    bottom: 5%;
    right: 5%;
    margin-left: 55px;
}
.info a:hover{
    background-color: #bcc209;
    transform: scale(1.1);
}
.trailer {
    width: 50%;
    height: 100%;
    float: right;
}
.trailer h2 {
    color: #f1f43a;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    padding-top: 10px;
}
.trailer video {
    width: 90%;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 10px;
    border-radius: 30px;
}

.singer-work{
    background-color: #141414;
    overflow: visible;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.singer-work iframe {
    width: 70%;
    height: 380px;
}
.singer-work img{
    width:30%;
    height: 100%;
    display: flex;
    float: right;
}

.athlete-work{
    background-color: #000000;
    overflow: visible;
    width: fit-content;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}
.athlete-header h2{
    padding: 10px;
    color: #ffffff;
}
#footnote{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}
.footnote{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

/* Athlete Table Styling */

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    color: #ffffff;
    text-align: center;
}
.tg td{
    border-color:#000000;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 12px;
    word-break:normal;
}
.tg th{
    border-color:#000000;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 12px;
    word-break:normal;
}

.thumbcard {
    background-color: #141414;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
}
.thumbcard h2{
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
}

    /* Celeb Thumbnails*/
.willsmith{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/actors/thumbnails/willsmiththumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.bradpitt{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/actors/thumbnails/bradpittthumbnail.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.tomcruise{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/actors/thumbnails/tomcruisethumbnail.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.angelinajolie{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/actors/thumbnails/angelinajoliethumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.emmawatson{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/actors/thumbnails/emmawatsonthumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.scarlettjohansson{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/actors/thumbnails/scarlettjohanssonthumbnail.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.theweeknd{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/singers/thumbnails/theweeknd.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.nf{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/singers/thumbnails/nf.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.dualipa{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/singers/thumbnails/dualipa.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.kanye{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/singers/thumbnails/kanye.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.billieeilish{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/singers/thumbnails/billieeilish.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.adele{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/singers/thumbnails/adele.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.salah{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/athletes/football/salah/thumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.cr7{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/athletes/football/cr7/thumbnail.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.leomessi{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/athletes/football/leomessi/thumbnail.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.mj{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/athletes/basketball/mj/thumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.lebron{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/athletes/basketball/lebron/thumbnail.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.bolt{
    width: 100%;
    min-height: 40em;
    display: flex;
    align-items: center;
    background: url("images/athletes/olympics/bolt/thumbnail.jpg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
    color: #141414;
}
.boltthumbcard {
    background-color: #141414;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    position: relative;
    left: 80%;
}
